*, *::after, *::before {
	box-sizing: border-box;  /* !!!非常重要，否则，会造成版面错误 */
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

div.ganttview {
    border: 1px solid #999;
}

div.ganttview-hzheader-dayofweek,
div.ganttview-hzheader-month,
div.ganttview-hzheader-day,
div.ganttview-hzheader-hour,
div.ganttview-vtheader,
div.ganttview-vtheader-title-name,
div.ganttview-vtheader-item-name,
div.ganttview-vtheader-series,
div.ganttview-grid,
div.ganttview-grid-row-cell {
    float: left;
}

div.ganttview-hzheader-dayofweek,
div.ganttview-hzheader-month,
div.ganttview-hzheader-day,
div.ganttview-hzheader-hour {
    text-align: center;
}

/* Horizontal Header */
/*大的框*/
div.ganttview-hzheader-dayofweeks,
div.ganttview-hzheader-months,
div.ganttview-hzheader-days,
div.ganttview-hzheader-hours {
    border-bottom: 1px solid #d0d0d0;
}

/*每一个小框*/
div.ganttview-hzheader-hour {
    width: 60px;
    height: 30px;
    border-right: 1px solid #d0d0d0;
    line-height: 30px;
}

div.ganttview-hzheader-dayofweek,
div.ganttview-hzheader-month,
div.ganttview-hzheader-day {
    width: 30px;
    height: 30px;
    border-right: 1px solid #e0e0e0;
    /*border-top: 1px solid #d0d0d0;*/
    line-height: 30px;
    color: #777;
}

/*当前时间*/
.ganttview-grid-row-cell-now,
.ganttview-hzheader-day-now,
.ganttview-hzheader-hour-now{
    float:left;
    width: 1px;
    height: 26px;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 2px dashed rgba(246, 181, 181, 0.8);
    display: inline-block;
    vertical-align: sub;
    position: relative;
    z-index: 20;
}
/*鼠标选择*/
div.ganttview-grid-row-cell-hover{
    /*background-color:rgba(210, 232, 232, 0.9) !important*/
    background-color: #FAFAFA !important
}

div.ganttview-grid-row-row-hover{
    /*background-color: rgba(210, 232, 232, 0.9) !important*/
    background-color: #FAFAFA !important
}

div.ganttview-hzheader-day.ganttview-grid-row-row-hover,
div.ganttview-hzheader-hour.ganttview-grid-row-row-hover{
    background-color: rgba(210, 232, 232, 0.9) !important
}

/*最后的单元*/
div.ganttview-hzheader-month.last,
div.ganttview-hzheader-day.last,
div.ganttview-hzheader-hour.last {
    border-right: 1px solid #d0d0d0;
}

/* Vertical Header */

div.ganttview-vtheader {
    width: 150px;
    overflow: hidden;
    background-color: #fff;
}

div.ganttview-vtheader-title,
div.ganttview-vtheader-item {
    overflow: hidden;
    color: #666;
}

div.ganttview-vtheader-title-name {
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.ganttview-vtheader-title-name + div.ganttview-vtheader-title-name {
    border-left: 1px solid #d0d0d0;
}

div.ganttview-vtheader-item-name {
    box-sizing: border-box;
    width: 80px;
    text-align: center;
    padding: 3px;
    border-top: 1px solid #d0d0d0;
    /*border-right: 1px solid #d0d0d0;*/
    line-height: 16px;
}

div.ganttview-vtheader-series {
    width: calc(100% - 80px);
}

div.ganttview-vtheader-series-name {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #d0d0d0;
    text-align: center;
    padding: 3px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.ganttview-vtheader-item-name-selected {
    background-color: #fff5ee!important
}

div.ganttview-vtheader-series-name-selected {
    background-color: #fff5ee!important
}

/* Slider */

div.ganttview-slide-container {
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 1px solid #999;
}


/* Grid */

div.ganttview-grid-row-cell {
    width: 30px;
    height: 31px;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

div.ganttview-grid-row-cell:last-child {
    border-right: 1px solid #d0d0d0;
}

div.ganttview-weekend {
    background-color: #fafafa;
    color: #FF6666;
}

div.ganttview-saturday {
    color: #FF6666;
    background-color: #fafafa;
}

div.ganttview-sunday {
    color: #FF6666;
    background-color: #f6e7e8;
}

/* Blocks */
div.ganttview-blocks {
    margin-top: 0;
}

div.ganttview-block-container {
    height: 24px;
    padding: 4px 0;
}

div.ganttview-block {
    position: relative;
    height: 24px;
    z-index: 2;
    background-color: rgba(51, 153, 204, .8);
    /*border: 1px solid #c0c0c0;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.ganttview-block.gannttview-block-selected {
    background-color: rgba(220, 174, 189, 0.8);
}

/* bar 文字*/
div.ganttview-block-text {
    box-sizing: border-box;
    position: absolute;
    /*height: 24px;*/
    font-size: 12px;
    /*line-height: 20px;*/
    color: #fff;
    padding: 0px 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

div.ganttview-block.ganttview-block-more {
    margin-top: -22px !important;
    /*z-index: 22;*/
}

/*甘特条*/
div.ganttview-block.ganttview-task {
    border: 1px dashed rgba(243, 6, 6, 0.5);
}

/* Adjustments for jQuery UI Styling */

div.ganttview-block div.ui-resizable-handle.ui-resizable-s {
    bottom: 0;
}

/*拖放*/
.gantt-drag-hover {
    background-color: #D7FFF0;
}